{{#if show}}
<header>
    <!-- {{#if ubahn}}<h1 class="petitionHeadline">U-Bahn</h1>{{/if}}
      {{#if warming}}<h1 class="petitionHeadline2">Warming!</h1>{{/if}} -->

<div class="links">

                {{#if petition}}<a href="/petition">Petition</a>{{/if}}
                {{#if signers}}<a href="/signatures">Signers</a>{{/if}}
                {{#if edit}}<a href="/profile">Edit</a>{{/if}}
                {{#if register}}<a href="/register">Register</a></li>{{/if}}
                {{#if logout}}<a href="/login">Log out</a></li>{{/if}}

            </div>

</header>
​
{{/if}}
