<h1>Please log in.</h1>

<input class="first_name" type="text" name="first" placeholder="first name">
<input class="last_name" type="text" name="last" placeholder="last name">

<button id="LOG-IN" type="submit" name="button">LOG IN</button>
