<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
        <header>

        </header>

{{{body}}}

        <footer>
        </footer>



<script type="text/x-handlebars-template">
        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="index.js"></script>
    </body>
</html>
