<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>


{{{body}}}

        <footer>
        </footer>



        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/script.js"></script>

    </body>
</html>
