<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
        <header>
<img id="attention" src="attention.jpeg" alt="" height="75px" width="170px">
            <h1 class="petitionHeadline">U-Bahn</h1>
              <h1 class="petitionHeadline2">Warming!</h1>
             <a id=button href="/login"><button id="logout" type="button" name="button">Log Out</button></a> 
</header>
{{{body}}}

        <footer>
        </footer>



        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/script.js"></script>

    </body>
</html>
