{{>list show=true petition=true signers=true ubahn=true warming=true edit=true logout=true}}

<section class="signatures">
<h2 id="other_signers">Here are the others people from {{city}} who wanna make the change</h2>
{{#list}}

    <p id="signers_info"> {{first}} {{last}} {{age}}</p>


{{/list}}
</section>
