




<div class="name">
<input class="first_name" type="text" name="" value="">
<input class="last_name" type="text" name="" value="">
</div>

<div class="signature">

    <canvas id="canvas" width="400" height="150"></canvas>
    <input class="canvas_input" type="hidden" name="" value="">
<p class="sign_here"></p>
<button id="submit" type="button" name="button">submit</button>
</div>
