


<form class="login" method="post">
    <h1>Please Log in</h1>
<h2 id="error_login">{{errormessage}}</h2>
<input class="email-login" type="email" name="email" placeholder="email">
<input class="password" type="password" name="password" placeholder="password">

<button id="log-in" type="submit" name="button">LOG IN</button>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<a id="noAccount" href="/registration">Dont have an Account?</a>
</form>
