
{{>list show=true signers=true ubahn=true warming=true edit=true logout=true}}

<section class="homapage">



    <!-- <img id="ubahn" src="ubahn.jpg" alt=""> -->
        <h2 id="please">Join the Petition to add air-condition to the S-bahn and U-bahn</h2>

        <form class="signature" method="POST">

            <canvas class="canvas" width="400" height="150"></canvas>
            <input class="canvas_input" type="hidden" name="signature" value="">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="submit" type="submit" name="button">submit</button>
        </form>
        <h2 class="headings">Together we can make the Dream come true</h2>
        <!-- <img id="gif" src="giphy.gif" alt=""> -->

<div class="dialog">
<!-- <h2>Please fill out all the information, and then click Submit</h2> -->
</div>
        {{>signature}}
</section>
