<form class="profile" method="post">
<h1 id="more_info">Please tell us a little more about yourself</h1>
<input class="age" type="text" name="age" placeholder="age">

<input class="city" type="text" name="city" placeholder="city">

<input class="homepage_url" type="text" name="url">

<button id="continue" type="submit" name="button">CONTINUE</button>

</form>
