
<h1></h1>

<form class="" method="post">

<input class="first_name" type="text" name="first" placeholder="first name">

<input class="last_name" type="text" name="last" placeholder="last name">

<input class="email" type="text" name="email" placeholder="please enter email">
<input class="password" type="password" name="password" placeholder="please enter password">
<button id="sign-up" type="submit" name="button">SIGN UP</button>

</form>
