


<form class="registration" method="post">
<h1>Sign-Up</h1>
<input class="first_name" type="text" name="first" placeholder="first name">

<input class="last_name" type="text" name="last" placeholder="last name">

<input class="email-registration" type="text" name="email" placeholder="please enter email">
<input class="password-registration" type="password" name="password" placeholder="please enter password">
<button id="sign-up" type="submit" name="button">SIGN UP</button>

</form>
