<section class="description-container">
<h2 id="other_signers">Here are the other people who wants to make the change come true</h2>
{{#list}}

    <p id="signers_info"> {{first}} {{last}}, {{age}} from {{city}}</p>


{{/list}}
</section>
