

<div class="thankyou">

    <h1 id="thankyou_message">thank you {{first}} {{last}} for signing the Petition!<br>
    We"ll make sure your voice is heard</h1>
    <h2 id="seeAll_message">see all <a href="/signatures" id="num">{{numberOf}}</a> others who already signed</h2>
    <img id="imgSig" src="{{signature}}" alt="">
<a href="/unsign">Delete your signature</a>
</div>
