* {
    box-sizing: border-box;
}
#logout{
    height: 40px;
    width: 110px;

}
#button{
    margin-left: 35%;
}
.petitionHeadline {
    font-family: sans-serif;
    font-size: 50px;
    margin-left: 16%;
    color: #126293;
}
.petitionHeadline2 {
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(231, 1, 1);
    margin-left: 1%;
}
#attention{
    height: 110px;
    width: 310px;
    margin-top: -1%;

}
header {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 1%;
}

body {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 30px;
    background-size: cover;
}

/* //////// petition PAGE //////// */

.homapage {
    height: 130%;
    margin-top: 3%;
    margin-left: 5%;
    border: 2px solid black;
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    background: #60a9a6;
}
.headings {
    text-align: center;
    font-family: monospace;
    margin-bottom: 3%;
    font-size: 17px;
    margin-left: 25%;
}

.names {
    margin-bottom: 15%;
}
.signature {
    display: flex;
    flex-direction: column;
    margin-left: 24%;
    height:340px;
}

.first_name {
    width: 200px;
    text-align: center;
    height: 35px;
    font-size: 18px;
    border: 2px solid black;
}
.last_name {
    width: 200px;
    margin-top: 2%;
    text-align: center;
    height: 35px;
    font-size: 18px;
    border: 2px solid black;
}
#submit {
    margin-top: 3%;
    width: 150px;
    height: 45px;
    align-self: center;
    font-size: 20px;
    margin-bottom: 9px;
    border: 2px solid black;
}
.canvas {
    border: 2px dotted black;
    background: #fff1ac;
}
#ubahn {
    margin-top: 14.5%;
    height: 450px;
    width: 340px;
    position: absolute;
    margin-left: -43.6%;
    border: 4px solid black;
}
#dialog {
    position: absolute;
    visibility: hidden;
}
#gif {
    position: absolute;
    margin-left: -26.1%;
    border: 4px solid black;
    width: 340px;
    height: 220px;
}
#error {
    width: 600px;
    height: 500px;
    position: fixed;
}
/* thanks page */

.thankyou {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 33%;

    border: 5px solid black;
    padding: 30px 20px;
    width: 50%;
    background: rgb(255, 255, 147);
}
#thankyou_message {
    text-align: center;
    font-family: sans-serif;
}

#seeAll_message {
    text-align: center;
    font-family: sans-serif;
}

#imgSig {
    border: 3px solid red;
    align-self: center;
    /* margin-left: 37%; */
    margin-top: 4%;
    width: 30%;
}
#num {
    color: red;
    font-size: 30px;
    /* margin-left: 49%; */
    align-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* LOGIN PAGE */

.login {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 5%;
    margin-left: 33%;
    height: 480px;
    width: 550px;
    background: rgb(255, 255, 147);
    border: 5px solid black;
}
.email-login{
    width: 200px;
    height: 30px;
    font-size: 18px;
    border: 2px solid black;
    padding-left: 4px;
    margin-bottom: 5%;

}
.password{
    width: 200px;
    height: 30px;
    font-size: 18px;
    border: 2px solid black;
    padding-left: 4px;
    margin-bottom: 5%;
}
#log-in {
    margin-top: 3%;
    margin-bottom: 5%;
    width: 150px;
    height: 45px;
    font-size: 20px;
    border: 2px solid black;
}
#error_login {
    font-family: sans-serif;
}
#noAccount{
    font-size: 20px;
}

/* REGISTRATION PAGE */

.registration {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 5%;
    margin-left: 33%;
    height: 550px;
    width: 550px;
    background: rgb(255, 255, 147);
    border: 5px solid black;
}
#log-in {
    margin-top: 3%;
    margin-bottom: 5%;
    width: 150px;
    height: 45px;
    font-size: 20px;
    border: 2px solid black;
}
#error_login {
    font-family: sans-serif;
}
#noAccount{
    font-size: 20px;
}
.first_name{
    width: 200px;
    height: 30px;
    font-size: 18px;
    border: 2px solid black;
    padding-left: 2px;
    margin-bottom: 5%;

}
.last_name{
    width: 200px;
    height: 30px;
    font-size: 18px;
    border: 2px solid black;
    padding-left: 2px;
    margin-bottom: 5%;
}
.email-registration{
    width: 280px;
    height: 35px;
    font-size: 18px;
    border: 2px solid black;
    padding-left: 4px;
    margin-bottom: 5%;

}
.password-registration{
    width: 280px;
    height: 35px;
    font-size: 18px;
    border: 2px solid black;
    padding-left: 4px;
    margin-bottom: 5%;
}
#sign-up {
    margin-top: 3%;
    width: 150px;
    height: 45px;
    font-size: 20px;
    margin-bottom: 9px;
    border: 2px solid black;
}
#HaveAnAccount{
    font-size: 20px;

}
/* PROFILE PAGE */

.profile_headlines{
    margin-top: -4.5%;
    margin-left:-25%;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 5%;
    margin-left: 33%;
    height: 650px;
    width: 550px;
    background: #ffffc5;
    border: 5px solid black;
}
.profile_input{
    width: 200px;
    height: 30px;
    font-size: 18px;
    margin-left: 15%;
    border: 2px solid black;
    padding-left: 4px;
    margin-bottom: 5%;

}

#continue {
    margin-top: 3%;
    width: 170px;
    height: 45px;
    font-size: 20px;
    margin-bottom: 9px;
    margin-left: 60%;
    border: 2px solid black;
}
#more_info{
       font-size: 30px;
       margin-bottom:7%;
       font-family: sans-serif;
       margin-left: -15%;
}
/* signature page */

#other_signers{
    font-size: 30px;
    margin-top: 5%;
}
#signers_info{
    font-size: 22px;
    font-family: sans-serif;

}
