* {
    box-sizing: border-box;
}
#logout{
    height: 40px;
    width: 110px;

}
#button{
    margin-left: 35%;
}
.petitionHeadline {
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 8%;
    color: #126293;
    text-decoration: underline;
}
.petitionHeadline2 {
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(231, 1, 1);
    margin-left: 1%;
    text-decoration: underline;

}
#attention{
    height: 110px;
    width: 310px;
    margin-top: -1%;

}
header {
    display: flex;
    width: 100vw;
    flex-direction: row;
    padding-left: 5%;
    margin-top: 2%;
}
.links{
    margin-top: -1%;
    margin-left: auto;
    margin-right: 5%;
    align-items: flex-end;
}
.links a{
    font-size: 20px;
    margin-left:10px;
    font-family: monospace;
}
body {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 30px;
    background-size: cover;
}

/* //////// petition PAGE //////// */

.homapage {
    height: 80%;
    margin-top: 3%;
    margin-left: 5%;
    border: 4px solid black;
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("bvg.jpg");
background-size: cover;
    background-repeat: round;
}
.headings {
    text-align: center;
    font-family: sans-serif;
    margin-top: 7%;
    margin-bottom: 0%;
    font-style: italic;
    font-size: 35px;
    color: #FEFE00;
}
#please{
    text-align: center;
    font-family: sans-serif;
    margin-top: 4%;
    margin-left: 19%;
    margin-bottom: 3%;
    font-size: 31px;
    color: #FEFE00;
    width: 50%;
}
.names {
    margin-bottom: 15%;
}
.signature {
    display: flex;
    flex-direction: column;
    margin-left: 24%;
    height:340px;
}


#submit {
    margin-top: 3%;
    width: 150px;
    height: 45px;
    align-self: center;
    font-size: 20px;
    margin-bottom: 9px;
    border: 2px solid black;
}
.canvas {
    border: 3px dotted black;
    background: #fbfbfb;
    opacity: 0.9;
}


#error {
    width: 600px;
    height: 500px;
    position: fixed;
}
/* thankyou page */

.thankyou {
    border-radius: 5px;
    display: flex;
   box-shadow: 4px 4px 4px black;
   background: #c2e8ce;
   border: 1px solid black;
   height: 400px;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 2%;
    padding: 30px 20px;
    width: 45%;
}
#thankyou_message {
    text-align: center;
    font-family: sans-serif;
}

#seeAll_message {
    text-align: center;
    font-family: sans-serif;
}

#imgSig {
    border: 3px solid red;
    align-self: center;
    margin-top: 4%;
    width: 30%;
}
#num {
    color: red;
    font-size: 30px;
    align-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* LOGIN PAGE */

.login {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 5%;
    margin-left: 2%;

    height: 480px;
    width: 550px;
    box-shadow: 4px 4px 4px black;
    background: #c2e8ce;
    border: 1px solid black;
}
.email-login{
    width: 200px;
    height: 30px;
    font-size: 18px;
    border: 1px solid black;
    padding-left: 4px;
    margin-bottom: 5%;

}
.password{
    width: 200px;
    height: 30px;
    font-size: 18px;
    border: 2px solid black;
    padding-left: 4px;
    margin-bottom: 5%;
}
#log-in {
    margin-top: 3%;
    margin-bottom: 5%;
    width: 150px;
    height: 45px;
    font-size: 20px;
    border: 2px solid black;
}
#error_login {
    font-family: sans-serif;
}
#noAccount{
    font-size: 20px;
}

/* REGISTRATION PAGE */

.registration {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 5%;
    margin-left: 2%;

    height: 550px;
    width: 550px;
    box-shadow: 4px 4px 4px black;
    background: #c2e8ce;
    border: 1px solid black;
}
#log-in {
    margin-top: 3%;
    margin-bottom: 5%;
    width: 150px;
    height: 45px;
    font-size: 20px;
    border: 2px solid black;
}
#error_login {
    font-family: sans-serif;
}
#noAccount{
    font-size: 20px;
}
.first_name{
    width: 200px;
    height: 30px;
    font-size: 18px;
    border: 2px solid black;
    padding-left: 2px;
    margin-bottom: 5%;

}
.last_name{
    width: 200px;
    height: 30px;
    font-size: 18px;
    border: 2px solid black;
    padding-left: 2px;
    margin-bottom: 5%;
}
.email-registration{
    width: 280px;
    height: 35px;
    font-size: 18px;
    border: 2px solid black;
    padding-left: 4px;
    margin-bottom: 5%;

}
.password-registration{
    width: 280px;
    height: 35px;
    font-size: 18px;
    border: 2px solid black;
    padding-left: 4px;
    margin-bottom: 5%;
}
#sign-up {
    margin-top: 3%;
    width: 150px;
    height: 45px;
    font-size: 20px;
    margin-bottom: 9px;
    border: 2px solid black;
}
#HaveAnAccount{
    font-size: 20px;

}
/* PROFILE PAGE */

.profile_headlines{
    margin-top: -4.5%;
    margin-left:-25%;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 3%;
    margin-left: 2%;

    height: 600px;
    width: 550px;
    background: #ffffc5;
    border: 5px solid black;
}
.profile_input{
    width: 200px;
    height: 30px;
    font-size: 18px;
    margin-left: 15%;
    border: 2px solid black;
    padding-left: 4px;
    margin-bottom: 5%;

}

#continue {
    margin-top: -1%;
    width: 170px;
    height: 45px;
    font-size: 20px;
    margin-bottom: 9px;
    margin-left: 60%;
    border: 2px solid black;
}
#more_info{
       font-size: 30px;
       margin-bottom:7%;
       font-family: sans-serif;
       margin-left: -15%;
}
/* signature page */
.signatures {
    display: flex;
    height: 100vw;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 2%;
    padding: 30px 20px;
    width: 45%;
    box-shadow: 4px 4px 4px black;
    background: #c2e8ce;
    border: 1px solid black;
}
#other_signers{
    font-size: 22px;
    margin-top: 5%;
    margin-left: 1%;
    text-decoration: underline;
    font-family: sans-serif;

}
#signers_info{
    font-size: 22px;
    font-family: sans-serif;

}
