* {
    box-sizing: border-box;
}

#canvas{
    border: 4px dotted black;
    margin-top: 5%;
}
.canvas_input{
    position: absolute;
    margin-top: 2%;
    width: 415px;
   height: 170px;
   margin-left: -27%;
}
header{
    height: 30px;
}
main{
   height: 98vw;
   width: 100%;
display: flex;
margin-left: 30%;
}

.explanation{
    position: absolute;
    display: flex;
width: 600px;
height: 70px;
font-size: 25px;

}

.name{
    position: absolute;
    width: 100%;
    height: 200px;
    margin-top:15%;

}
.signature{
    width: 50%;
    height: 200px;
    margin-top:20%;
}
